{% extends 'app/base.html' %}
{% load static %}
{% block title %}Dash{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong>{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="container py-5 my-5">
    <div class="row py-4 my-5">
        <div class="col-sm-6 offset-sm-3">
            <button class="border-0 bg-transparent" style='font-size:20px' onclick="history.back()"><i
                    class='fas fa-arrow-left'></i></button>
            <form method="post" novalidate class="shadow p-5  rounded" onSubmit="return check(this)" id="frm">
                {% csrf_token %}
            
                <div class="row form-group my-3">
                    {% for fm in form %}
                    <div class="col">
                        {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
                        
                    </div>
                    {% endfor %}
                    <br>
                </div>
                <input type="submit" value="Check" class="btn btn-success">

            </form>

        </div>
    </div>
</div>
<script>
    function check(form) {
        name = form.name.value;
        branch = form.branch.value;
        password = form.password.value;


        // If password not entered
        if (name == '') {
            document.getElementById("id_name").style.borderColor = "red";
            return false;
        }
        // If confirm password not entered
        else if (branch == '') {
            document.getElementById("id_branch").style.borderColor = "red";
            return false;
        }
        // If Not same return False.    
        else if (password == '') {
            document.getElementById("id_password").style.borderColor = "red";

            return false;
        }

        // If same return True.
        else {
            return true;
        }
    }
</script>

{% endblock %}