{% extends 'app/HODMain.html' %}
{% load static %}
{% block title %}HOD_Attend{% endblock %}
{% block StuRecord %}
<div class="container py-5 w-50">
    <div class="row my-2">
        <div class="col-sm-6 offset-sm-3 ok">
            <button class="border-0 bg-transparent" style='font-size:20px' onclick="history.back()"><i class='fas fa-arrow-left'></i></button>
            <form method="post" novalidate class="shadow p-4  rounded" enctype="multipart/form-data">
                
                
                {% csrf_token %}
                {% for fm in FindStud %}
                <div class="form-group mb-3">
                    {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
                </div>
                {% endfor %}
                <input type="submit" value="Show" class="btn btn-success">
                
                <br>
            </form>

        </div>
    </div>
</div>
{% endblock %}